body {
    font-family: 'Oswald';

}

header {
    text-align: center;
    font-family: "Oswald";
    font-size: 1.8vw;
    margin: 30px;
    text-decoration: underline;
}

#positionName {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 30px;
    margin-top: 0px;
}

#image {
    max-height: 342px;
    width: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 0px;

}

#generateButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e3e0e8ff;
    border-radius: 12px;
    
    font-family: "Oswald";
    font-size: 2vw;
    padding: .2vw 1vw;

}
