body {
    font-family: 'Oswald';

}

header {
    text-align: center;
    font-family: "Oswald";
    font-size: 1.6vw;
    margin: 30px;
    text-decoration: underline;
}

#positionName {
    text-align: center;
    font-size: 2.2vw;
    margin-bottom: 30px;
    margin-top: 0px;
}

.imageContainer {
    height: 32vh;
    margin-bottom: 30px;
    margin-top: 30px;
}

#image {
    max-height: 32vh;
    width: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

#generateButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #e3e0e8ff;
    border-radius: 12px;
    
    font-family: "Oswald";
    font-size: 1.8vw;
    padding: 10px 15px;

}
